# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List of popular languages that Data Scientists use
- List of commonly used libraries used by Data Scientists.
- Data Science tools.
- Some examples in Python

# Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. SQL
4. Java Script
5. R

# Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib and Seaborn
2. Scikit-Learn
3. Tensorflow
4. Pandas
5. Numpys
6. keras

|Data Science Tools|
|-------------------|
|1. IDES: Vs code , Rstudio , google colab|
|2. Sofwares: weka , knime ,orange|
|3. Version Control System: git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:

first_num = 32
second_num = 26
sum = first_num + second_num
print(sum)

58

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
print ("in hours:" ,minutes/60)

in hours: 3.3333333333333335

## AUTHOR: José Ricardo Díaz Ramirez